body.authentication-bg {
  background-image: url("/assets/images/bg-pattern-light.svg");
  background-size: cover;
  background-position: center;
  /*height: 100%;*/
}
.account-pages {
  align-items: center;
  justify-content: center;
  display: flex;
  /*min-height: 100vh;*/
}

.login-container{
  display: flex;
  justify-content: center;
}

.card-container{
  /*width: 400px;*/
  height: 800px;
  display: flex;
  justify-content: center;
}

.card-header{
  background-color: #727cf5;
}

.password-icon {
  position: absolute;
  top: 70%;
  right: 14px;
  transform: translateY(-50%);
  cursor: pointer;
}

.box {
  height: 100%;
  width: 100%;
  background-color: #0D0F11;
}

.topbar-logo {
  width: 50px;
  height: 35px;
}

.logo-text-master{
  color: #5DA9D7
}

.logo-text-employee{
  color: #DCE7ED
}


.spacing-45 {
  margin-bottom: 45px;
}

.spacing-8 {
  margin-bottom: 8px;
}

.spacing-20 {
  margin-bottom: 20px;
}

.spacing-30 {
  margin-bottom: 30px;
}

input:not(:placeholder-shown) {
  background-color:  #202020!important;
  border: 1px solid #A7A7A7!important;
  color: #fff!important;
  height: 48px;
}


input:placeholder-shown {
  background-color:  #202020!important;
  border: 1px solid #A7A7A7!important;
  color: #fff!important;
  height: 48px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px #202020 inset !important;
  -webkit-text-fill-color: #fff !important;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9C9AA5;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #9C9AA5;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: #9C9AA5;
}
