<div class="menu-item px-3">
  <a (click)="switchLanguage('no')" class="menu-link d-flex px-5" [class.active]="currentLang === 'no'">
    <span class="symbol symbol-20px me-4">
        <img class="rounded-1" src="assets/media/flags/norway.svg" alt=""/>
    </span>
    Norsk
  </a>
</div>

<div class="menu-item px-3">
  <a (click)="switchLanguage('en')" class="menu-link d-flex px-5" [class.active]="currentLang === 'en'">
    <span class="symbol symbol-20px me-4">
        <img class="rounded-1" src="assets/media/flags/united-states.svg" alt=""/>
    </span>
    English
  </a>
</div>
