<div class="menu-state-bg menu-extended overflow-hidden overflow-lg-visible py-2 py-lg-6" data-kt-menu-dismiss="true">
  <div class="row px-lg-5">

    <div class="col-lg-6 py-1">
      <div class="menu-item p-0 m-0">
        <a [routerLink]="['/dashboards','crm']"
           class="menu-link"
           (click)="storageService.set('selectedProduct', 'crm')"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">
          <span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
            <i class="ki-duotone ki-basket text-primary fs-1">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
            </i>
          </span>
          <span class="d-flex flex-column">
            <span class="fs-6 fw-semibold text-gray-800">CRM</span>
            <span class="fs-7 fw-semibold text-muted">Customer Management System</span>
          </span>
        </a>
      </div>
    </div>

    <div class="col-lg-6 py-1">
      <div class="menu-item p-0 m-0">
        <a [routerLink]="['/dashboards','recruiter']"
           class="menu-link"
           (click)="storageService.set('selectedProduct', 'recruiter')"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">
          <span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
            <i class="ki-duotone ki-abstract-44 text-info fs-1"><span class="path1"></span><span class="path2"></span></i>
          </span>
          <span class="d-flex flex-column">
            <span class="fs-6 fw-semibold text-gray-800">Recruiter</span>
            <span class="fs-7 fw-semibold text-muted">AI for Recruitment tasks</span>
          </span>
        </a>
      </div>
    </div>

    <div class="col-lg-6 py-1">
      <div class="menu-item p-0 m-0">
        <a [routerLink]="['/dashboards','toolbox']"
           class="menu-link"
           routerLinkActive="active"
           (click)="storageService.set('selectedProduct', 'toolbox')"
           [routerLinkActiveOptions]="{ exact: true }">
          <span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
            <i class="ki-duotone ki-element-11 text-danger fs-1">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
            </i>
          </span>
          <span class="d-flex flex-column">
            <span class="fs-6 fw-semibold text-gray-800">Toolbox</span>
            <span class="fs-7 fw-semibold text-muted">Complete AI toolbox</span>
          </span>
        </a>
      </div>
    </div>

    <div class="col-lg-6 py-1">
      <div class="menu-item p-0 m-0">
        <a [routerLink]="['/dashboards','api']"
           class="menu-link"
           routerLinkActive="active"
           (click)="storageService.set('selectedProduct', 'api')"
           [routerLinkActiveOptions]="{ exact: true }">
          <span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
            <i class="ki-duotone ki-chart-simple text-gray-900 fs-1">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
            </i>
          </span>
          <span class="d-flex flex-column">
            <span class="fs-6 fw-semibold text-gray-800">API</span>
            <span class="fs-7 fw-semibold text-muted">API and integration options</span>
          </span>
        </a>
      </div>
    </div>

    <div class="col-lg-6 py-1">
      <div class="menu-item p-0 m-0">
        <a [routerLink]="['/dashboards','company-administration']"
           class="menu-link"
           routerLinkActive="active"
           (click)="storageService.set('selectedProduct', 'company-administration')"
           [routerLinkActiveOptions]="{ exact: true }">
          <span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
            <i class="fa far fa-xl fa-building"></i>
          </span>
          <span class="d-flex flex-column">
            <span class="fs-6 fw-semibold text-gray-800">Administration</span>
            <span class="fs-7 fw-semibold text-muted">Company administration</span>
          </span>
        </a>
      </div>
    </div>

  </div>
</div>
